.chat-container::-webkit-scrollbar {
    width: 7px; 
  }
  
  .chat-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    margin: 9px 0;
    border-radius: 10px;
  }
  
  .chat-container::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 10px;
  }
  
  .chat-container::-webkit-scrollbar-thumb:hover {
    background: #bababa; 
  }
  @media (max-width: 640px) {
    .chat-container {
      min-height: calc(100vh - 200px); /* Set min-height to 80% of viewport height for screens less than sm */
    }
  }
  